<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <img width="547" alt="Storebrand Logo" src="https://resources.mynewsdesk.com/image/upload/c_limit,dpr_1.0,f_auto,h_700,q_auto,w_670/iy7yd71a1j7fspdcq5bd.jpg">
    
  <div style="text-align:center">
    <h1>
      Tittel
    </h1>
    <h2>Undertittel</h2>
    <p>
      <b>Lorem</b> ipsum <i>dolor</i>, sit amet <u>consectetur</u> adipisicing elit. Repellat recusandae nihil obcaecati totam quisquam quidem 
      illum ut modi <s>aspernatur</s> ipsa? Aut harum tempora sunt. Laborum quia odit veritatis obcaecati soluta?
    </p>
  </div>
  
  <div style="text-align:center"></div>
  <h2>Here are some links to help you start: </h2>
  <ul>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
    </li>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
    </li>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
    </li>
  </ul>
  </div>
  
  <router-outlet></router-outlet>
  